extends components/layout
block head 
  script(src="/static/js/index.js" defer) 

block main
  .card.center 
    h1= title
    ul.list
      each note in notes 
        li.list-item 
          a(href=`/note/${note.id}`)= note.title
          div
            if !note.archive
              button.btn.warning(data-id=`${note.id}` data-type='archive') Archive 
            button.btn.danger(data-id=`${note.id}` data-type='delete') Delete 
