extends components/layout

block main
  .card.center 
    h1= title
    each note in notes
      ul.list 
        li.list-item 
          strong= note.title
          div
            button.btn.warning(data-id=`${note.id}` data-type='archive') Archive 
            button.btn.danger(data-id=`${note.id}` data-type='delete') Delete 
